.ant-ribbon > .ant-ribbon-corner {
    border: 3px solid;
    height: 4px;
    width: 4px;
}

.banner-home .ant-tabs > .ant-tabs-nav {
    background-color: white;
    padding: 0 64px;
    margin-bottom: -24px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 2px;
    border-radius: 8px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.banner-home .ant-tabs-content-holder {
    background-color: #f8f7f9;
    padding: 32px 48px 48px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
    border-radius: 16px;
    width: 1124px;
}

.banner-home .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap {
    overflow: unset;
}

.tab-profile-container .ant-tabs-nav {
    margin-bottom: 8px;
}

.tab-profile-container .ant-tabs-nav-wrap {
    justify-content: center;
    background-color: white;
}

.tab-profile-container .ant-tabs-nav-wrap .ant-tabs-nav-list {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.tab-profile-container .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
    justify-content: center;
}

.swiper > .swiper-pagination {
    position: static;
    margin-top: 16px;
}

.swiper > .swiper-pagination > .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}
